@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* global */
:root {
  --ff: 'Playfair Display', serif;

  --fw-100: 100;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;

  --fw-button: 400;

  --fs-1: 2rem;
  --fs-2: 1.375rem;
  --fs-3: 1.125rem;
  --fs-b: 1rem;
  --fs-sm: 0.875rem;

  --fs-title: clamp(1rem, (1rem + 5vw), 3.5rem);
  --fs-heading: clamp(1rem, (1rem + 2vw), 2.8rem);

  --txt-dark: #120a0e;
  --txt-light: #fff;
  --txt-dark-secondary: #777;
  --txt-light-secondary: rgb(218, 218, 218);

  --clr-dark: #010101;
  --clr-dark-secondary: #2d2d2d;
  --clr-light: #fff;
  --clr-light-secondary: #f1f1f1;
  --clr-accent: #FC4A6E;
  --clr-accent-lighter: #FF6685;
  --clr-accent-darker: #FF224F;
  --clr-overlay: rgba(0, 0, 0, 0.6);
  --clr-overlay-darker: rgba(0, 0, 0, 0.8);

  --spacer: 1rem;
  --spacer-sm: calc(var(--spacer) * 0.5);
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 3);

  --shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  --shadow-bottom: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
  --shadow-bottom-accent: 0 4px 2px -2px rgba(145, 89, 138, 0.25);
  --shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow-light-accent: rgba(145, 89, 138, 0.2) 0px 8px 24px;
  --br: 3px;
}

@media (min-width: 45em) {
  :root {
    --fs-1: 2.75rem;
    --fs-2: 1.375rem;
    --fs-3: 1.5rem;
    --fs-b: 1.125rem;
    --fs-sm: 0.875rem;
  }
}

/* resets */
*::before,
*::after,
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fff;
}

body {
  font-family: var(--ff);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h2,
h2,
h3 {
  line-height: 1.1;
}

a {
  display: block;
}

hr {
  background-color: var(--clr-accent);
  height: 1px;
  border: none;
}

/* typography */
.title {
  font-size: var(--fs-1);
  font-weight: var(--fw-300);
  text-transform: capitalize;
  line-height: 1.1;
}

.title--bold {
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  text-transform: capitalize;

  line-height: 1.1;
}

.heading {
  font-size: var(--fs-2);
  font-weight: var(--fw-400);
  text-transform: capitalize;
  line-height: 1.1;
}

.body--large {
  font-weight: var(--fw-500);
  font-size: var(--fs-3);
  text-transform: capitalize;
  line-height: 1.1;
}

.body--small {
  font-size: var(--fs-sm);
}

.body--xs {
  font-size: 10px;
}

.bold {
  font-weight: var(--fw-600);
}

.italics {
  font-style: italic;
}

.upper {
  text-transform: uppercase;
  line-height: 1.1;
}

.caps {
  text-transform: capitalize;
}

.accent {
  color: var(--clr-accent);
}

.dark {
  color: var(--clr-dark);
}

.light {
  color: var(--txt-light-secondary);
}

/* util */
.spacing > * + * {
  margin-top: var(--spacer);
}
.spacing-md > * + * {
  margin-top: var(--spacer-md);
}
.spacing-lg > * + * {
  margin-top: var(--spacer-lg);
}
.spacing-all > * {
  margin-top: var(--spacer);
}
.section-splitter-bottom {
  padding-bottom: 7em;
}
.section-splitter-top {
  padding-top: 7em;
}
@media screen and (max-width: 450px) {
  .section-splitter-bottom {
    padding-bottom: 4em;
  }
  .section-splitter-top {
    padding-bottom: 4em;
  }
}

.text-center {
  max-width: 70ch;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.stretch {
  align-self: stretch;
}

/* clip paths */
.clip-arrow-right {
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}

.clip-right-chev {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.clip-right-point {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
